
/* Custom Properties */

:root {
  --color-bg:         hsl(185, 41.3%, 53.9%);
  --color-bg-content: hsl(0, 0.0%, 94.1%);
  --color-text-black: hsl(0, 0.0%, 22.7%);
  --color-bg-content-grey: 	hsl(180, 0.67% , 70.78% );
}
